@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

:root {
    --primary-color: #d63031;
    --secondary-color: #ffeaa7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    text-align: center;
    background-color: #fff;
}

.container {
    max-width: 65%;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 2rem;
}

p {
    font-size: 1.8rem;
}

.header {
    width: 100%;
    margin-top: 5rem;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
}

.header .header__title {
    text-align: center;
    color: #fff;
    padding: 2rem;
}

#description {
    margin-top: 5rem;
}

#description #seconds {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 2rem;
}

#word {
    font-size: 7.5rem;
    margin-top: 5rem;
    color: var(--primary-color);
}

#word-input {
    width: 100%;
    margin-top: 5rem;
    font-size: 1.8rem;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

#message {
    margin-top: 1rem;
}

#status {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5rem 5rem;
}

#instructions {
    width: 50%;
    margin: 5rem auto 0;
}

#instructions h4 {
    margin-bottom: 1rem;
}
